@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";



/* /* variables */
/*  root{
    
    --llgrijs:#EEEEEE;
    --lgrijs: #BCBCBC;
    --mgrijs: #787878;
    --dgrijs: #4B4E53;
    --zwart: #2A2A2A;
} */
* body {
    font: 300 100%/1.6 Lato, Arial, sans-serif;
    background: #EEEEEE;

    overflow-x: hidden;
    /* scrollbalk wegdoen in mobile */
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.responsive-image {
    width: 100%;
}

.bold {
    font-weight: bold !important;
}

/* Navigatie ------------------------------------------- */
/* hamburger */
a[href="#menu"] {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: block;

    color: #2A2A2A;
    width: 60px;
    height: 60px;
    font: 400 1.5rem/60px Lato, Arial, sans-serif;
    text-align: center;
    transition: all 500ms;

}

a[href="#menu"]:hover {
    background: #787878;
}

/* nav-elementen */

nav.mainnav {
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
}

.links {
    position: absolute;
    top: 0;
    /* right normaal 0 om zichtbaar te zijn */
    right: -255;
    background: rgba(75, 75, 83, .7);
    width: 250px;
    height: 100vh;
    padding: 6em 10px 10px;
    transition: right 500ms ease-in-out;
    text-align: left;
}

.links a {
    display: block;
    background: #2A2A2A;
    padding: .5em;
    margin-bottom: .5em;
    color: #F1F1F1;
    text-decoration: none;
    transition: all 500ms;

}

.links a:hover {
    background: #666;
    color: #F1F1F1;
}

/* nodig voor JS */
.open {
    right: 0;
}

/* mainheader */

.mainheader .overlay {
    background: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #F1F1F1;
    height: 100vh;
    padding-left: 1em;
}


.overlay h1 {
    font: 9rem "Yeseva one", cursive;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
.icon{
    padding-left: .8em;
    
}
.iconcont{
    text-align: center;
}


.icontitel{
    text-align: center;
    font: 300 3rem/1.6 Lato, Arial, sans-serif;
}
/* p {
    font: 200 3rem/1.6 Lato, Arial, sans-serif;
    letter-spacing: .2em;
    color: #F1F1F1;
    margin-left: 4em;
    text-transform: uppercase;

} */

/* AD
--------------------------------------------------------*/

.text-cont-left {
    margin: 0 auto;
    padding: 145px 50px 140px 50px;
    max-width: 50%;
}

.text-cont-right {
    margin: 0 auto;
    padding: 145px 50px 140px 50px;
    max-width: 50%;
    height: auto;
}

.title-ad {
    color: #4b4e53;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

.lijn {
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background: #4b4e53;
}

.text-cont p {
    margin-top: 30px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;


}

.mt-30 {
    margin-top: 30px !important;
}

.ads-img-cont {
    padding-top: 50px;
    padding-bottom: 45px;

}

.img-fluid {
    max-width: 100%;
    height: auto;

}

.logonaam {
    font: 400 2.6rem/20px "Yeseva one", cursive;
}

.button {
    display: inline-block;
    border: 1px solid #F1F1F1;
    padding: .5em 1em;
    border-radius: 2px;
    color: #F1F1F1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 500ms;
    background-color: #4b4e53;

}

.button:hover {
    color: #F1F1F1;
    background-color: #2A2A2A;
    text-decoration: none;

}









/* BREAKPOINTS 
--------------------------------------------------------*/
@media screen and (min-width: 700px) {
    h1 {
        font-size: 5rem;
        padding-top: 0.2em;
    }


    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
        .mainheader .overlay {
            height: calc(100vh - 55px);
        }



    }
}